body{
    background-color:#413838 ;
    color: #FBFAFF;
    font-family: 'Montserrat', sans-serif;
 }

 .inline-block{
    display: inline-block;
    vertical-align: top;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  
  .logo{
    width: 30%;
    padding: 1%;
    text-align: center;
  }
  
  .nav{
    padding: 80%;
    margin: 80%;
    text-align: center;
    font-family: "inherit";

  }

  ul{
    width: 100%;
    margin-left: auto;
    font-family: 'inherit', sans-serif;
    text-align: center;
  }

  herolmg{ 
    height: 600px;
    padding: 25px;

  }

  .content {
    width: 500px;
    margin: 0 auto;
    font-family: montserrat;
  }

  .circle {
    border-radius: 90%;
    width: 40%;
    justify-content: center;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40pt;
    font-weight: 500;
  }

  button{
  display: flex;
  justify-content: center;
    margin:auto  
  }
 
  footer{
    background-color: #413838;
    padding: 1%;
    text-align: center;
  }
  
  footer ul {
    display: inline-block;
    vertical-align: top;
  }
  
  footer li {
    padding: 1%;
    text-align: center;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40pt;
    font-weight: 500;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    div{
      width:33%; 
      padding:1%;
      margin:auto
    } 
    div{
      width: 33% 
      padding: 1%;
      margin:auto
    } 
    div{
      width: 33% 
      padding: 1%;
      margin:auto
    } 
  }


  .workGrid{
display:grid;
grid-template-rows: 100px 100px;
row-gap: 50px;

  }

  @media only screen and (max width: 600){
    flex-direction: columns: ;
width: 100%;

  }